<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>

<body>
   <div class="container">
     <div class="box">
      <% postData.forEach(function(post){ %>
      <img src="/images/uploads/<%= post.image %>" alt="">
      <div class="caption"><%= post.imageText %></div>
      <% }) %>
     </div>
   </div>
</body>
</html>